html {
  background-color: #e2e2e2;

  color: #333;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h1,
h2 {
  color: #5d8432;
}

h1 {
  font-size: 2rem;
}

nav ol {
  padding: 0;
  list-style-type: none;
  font-size: 1.125rem;
}

a {
  color: #793284;
  border-bottom: .1em solid currentcolor;
  text-decoration: none;
}

a:hover {
  color: #b42885;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

img {
  width: 100%;
}

.intro {
  font-size: 1.125rem;
  font-style: italic;
}

main h2:nth-child(4),
main h2:nth-child(5) {
  font-size: 1rem;
}
